/* #region Fonts */
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-variable.ttf") format("truetype-variations");
}
/* #endregion */

/* #region Variables */
:root {
  /* Defaults */
  --white: rgb(255, 255, 255);
  --near-white: rgb(250, 250, 250);
  --off-white: rgb(234, 234, 234);
  --light-gray: rgb(153, 153, 153);
  --black: rgb(0, 0, 0);
  --blue: rgb(0, 112, 243);

  /* Text colour */
  --text-muted: rgb(102, 102, 102);
  --text-develop: rgb(9, 104, 218);
  --text-preview: rgb(206, 27, 131);
  --text-ship: rgb(252, 90, 78);

  /* Backgrounds */
  --pro-color: var(--blue);
  --enterprise-color: rgb(255, 0, 128);

  /* Borders */
  --border-white-button: rgb(234, 234, 234);
  --border-black-button: var(--black);
  --border-header: rgb(0, 0, 0, 0.1);

  /* Gradients */
  --gradient-blue: linear-gradient(90deg, rgb(0, 124, 240), rgb(0, 223, 216));
  --gradient-purple: linear-gradient(
    90deg,
    rgb(121, 40, 202),
    rgb(255, 0, 128)
  );
  --gradient-orange: linear-gradient(
    90deg,
    rgb(255, 77, 77),
    rgb(249, 203, 40)
  );

  /* Buttons */
  --button-github: var(--black);
  --button-github-hover: rgb(85, 85, 85);
  --button-gitlab: rgb(107, 79, 187);
  --button-gitlab-hover: rgb(131, 103, 211);
  --button-bitbucket: rgb(0, 82, 204);
  --button-bitbucket-hover: rgb(22, 104, 226);

  /* Transitions */
  --standard-transition: all 0.2s ease;
}
/* #endregion */

/* #region Basics */
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Both rules below copied from https://vercel.com */
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-feature-settings: "case" 1, "rlig" 1, "calt" 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5625em;
  letter-spacing: -0.02em;
}

body {
  margin: 0;
}

body.overlay-open {
  overflow: hidden;
  width: 100%;
  z-index: -1;
}

body.overlay-open .hide-on-overlay-open {
display: none;
}
/* #endregion */

/* #region Containers */
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
/* #endregion */

/* #region Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: initial;
  font-weight: bold;
  letter-spacing: -0.05em;
  text-align: center;
}

h2,
.h2 {
  font-size: 0.75em;
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h3,
.h3 {
  font-size: 2rem;
  letter-spacing: -0.05em;
}

h4,
.h4 {
  font-size: 2.5rem;
  letter-spacing: -0.05em;
}

h5,
.h5 {
  font-size: 1.5rem;
}

h6,
.h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  line-height: 1.25em;
  color: var(--text-muted);
  margin-top: 2.33em;
  margin-bottom: 1.2rem;
}
/* #endregion */

/* #region Text */
p,
.text {
  color: var(--text-muted);
}

.text--large {
  font-size: 1.25rem;
}

.text--centre {
  text-align: center;
}
/* #endregion */

/* #region Buttons */
button {
  font-family: inherit;
  appearance: none;
  -webkit-appearance: none;
  font-size: 1rem;
  transition: var(--standard-transition);
}

.button {
  --button-color: var(--text-muted);
  --button-border: var(--border-white-button);
  --button-bg: var(--white);
  --button-hover-color: var(--black);
  --button-hover-border: var(--black);
  --button-hover-bg: var(--white);

  display: block;
  margin-top: 0.6875rem;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 1.5625rem;
  height: 3.125rem;
  line-height: 2.875rem;
  text-align: center;
  background-color: var(--button-bg);
  color: var(--button-color);
  border-width: 1px;
  border-color: var(--button-border);
  border-style: solid;
  transition: var(--standard-transition);
}

.button:hover {
  color: var(--button-hover-color);
  border-color: var(--button-hover-border);
  background-color: var(--button-hover-bg);
}

.button--small {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2.375rem;
  height: 2.375rem;
  padding: 0 1.5rem;
}

.button--black {
  --button-color: var(--white);
  --button-border: var(--black);
  --button-bg: var(--black);
  --button-hover-color: var(--black);
  --button-hover-border: var(--button-border);
  --button-hover-bg: transparent;
}

.button--blue {
  --button-color: var(--white);
  --button-border: var(--blue);
  --button-bg: var(--blue);
  --button-hover-color: var(--blue);
  --button-hover-border: var(--blue);
  --button-hover-bg: var(--white);
}

.button--github {
  --button-color: var(--white);
  --button-border: var(--button-github);
  --button-bg: var(--button-github);
  --button-hover-color: var(--white);
  --button-hover-border: var(--button-github-hover);
  --button-hover-bg: var(--button-github-hover);
}

.button--gitlab {
  --button-color: var(--white);
  --button-border: var(--button-gitlab);
  --button-bg: var(--button-gitlab);
  --button-hover-color: var(--white);
  --button-hover-border: var(--button-gitlab-hover);
  --button-hover-bg: var(--button-gitlab-hover);
}

.button--bitbucket {
  --button-color: var(--white);
  --button-border: var(--button-bitbucket);
  --button-bg: var(--button-bitbucket);
  --button-hover-color: var(--white);
  --button-hover-border: var(--button-bitbucket-hover);
  --button-hover-bg: var(--button-bitbucket-hover);
}

.button--pro {
  --button-color: var(--white);
  --button-border: var(--pro-color);
  --button-bg: var(--pro-color);
  --button-hover-color: var(--white);
  --button-hover-border: var(--pro-color);
  --button-hover-bg: var(--pro-color);
}

.button--enterprise {
  --button-color: var(--white);
  --button-border: var(--enterprise-color);
  --button-bg: var(--enterprise-color);
  --button-hover-color: var(--white);
  --button-hover-border: var(--enterprise-color);
  --button-hover-bg: var(--enterprise-color);
}

/* Shadows from vercel.com */
.button--shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px 0px;
}

.button--shadow:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 30px 0px;
  transform: translate3d(0px, -1px, 0px);
}
/* #endregion */

/* #region Links */
a {
  display: inline;
  text-decoration: none;
}

a:hover {
  color: var(--black);
}

#develop a:not(:hover) {
  color: var(--text-develop);
}

#preview a:not(:hover) {
  color: var(--text-preview);
}

#ship a:not(:hover) {
  color: var(--text-ship);
}
/* #endregion */

/* #region Header */
header {
  position: sticky;
  background: white;
  top: 0;
  height: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4rem;
  grid-auto-rows: min-content;
  justify-content: space-between;
  grid-template-areas: "heading button";
  transition: box-shadow 0.2s ease;
}

header.sticking {
  box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset;
}

header > h1 {
  grid-area: heading;
  align-self: center;
  justify-self: start;
}

header > h1 #company-name {
  display: block;
  color: transparent;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

header > button {
  position: relative;
  grid-area: button;
  align-self: center;
  justify-self: end;
  padding: 0;
  color: transparent;
  border: none;
  background: none;
  width: 2rem;
  height: 2.5rem;
  overflow: hidden;
}

header > button::before,
header > button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  display: block;
  height: 1px;
  width: 1.375rem;
  background-color: var(--black);
  transition: transform 0.15s ease;
}

header > button::before {
  transform: translate(-50%, -4px);
}

header > button::after {
  transform: translate(-50%, 4px);
}

header nav {
  display: none;
  position: fixed;
  top: 4rem;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  overflow-y: scroll;
  background: white;
  padding: 2.5rem 1.5rem 1.5rem;
}

header nav h2 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: unset;
  letter-spacing: -0.02em;
  text-align: left;
  margin: 1.33em 0;
}

header nav ul {
  padding: 0;
  list-style-type: none;
  padding-bottom: 1.5rem;
}

header nav li {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid var(--off-white);
  cursor: pointer;
  transition: var(--standard-transition);
}

header nav li:hover,
header nav li:focus {
  background-color: var(--near-white);
}

header nav li.li--button {
  cursor: initial;
  height: min-content;
  border-bottom: none;
  padding: 0.5rem 0;
}

header nav li.li--button:hover {
  background-color: unset;
}

header nav a {
  color: var(--black);
  width: 100%;
  height: 100%;
  line-height: 3rem;
}

header nav label {
  display: block;
}

header nav select {
  appearance: none;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  background: var(--white);
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.25rem;
  height: 2rem;
  border: 1px solid var(--border-white-button);
  border-radius: 5px;
  padding: 0 2.25em;
}

header.nav-open {
  box-shadow: none;
}

header.nav-open > nav {
  display: block;
}

header.nav-open > button::before {
  transform: translate(-50%, 0) rotate(45deg);
}

header.nav-open > button::after {
  transform: translate(-50%, 0) rotate(-45deg);
}
/* #endregion */

/* #region Footer */
footer {
  background: var(--near-white);
  border-top: 1px solid var(--off-white);
  padding-top: 2.25rem;
  padding-bottom: 1.5rem;
}

footer nav {
  margin-bottom: 3rem;
}

footer details {
  border-bottom: 1px solid var(--off-white);
}

footer summary {

  list-style: none;
  cursor: pointer;
  height: 2.625rem;
  line-height: 2.625rem;
  outline: none;
}

footer summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "+";
  float: right;
}

details[open] > summary::after {
  transform: rotate(-45deg);
}

footer summary:hover, 
footer summary:focus {
  background-color: var(--off-white);
}

footer ul {
  list-style: none;
  margin: 0px;
}

footer li {
  color: var(--text-muted);
  padding: 0.5rem 0px;
}

footer nav a {
  color: inherit;
  transition: var(--standard-transition);
}

footer svg {
  display: block;
  margin: 0 auto;
}

footer .system-status {
  display: block;
  margin: 1.5rem auto 0;
  width: min-content;
  border: 1px solid var(--off-white);
  border-radius: 5px;
  background: var(--white);
  font-size: 1rem;
  color: var(--black);
  padding: 0 0.75em;
  height: 2em;
  line-height: 1.8em;
  white-space: nowrap;
}

footer .system-status span {
  color: var(--blue);
  font-weight: 500;
}

footer .system-status span::before {
  content: "";
  display: inline-block;
  background: var(--blue);
  border-radius: 50%;
  width: 0.7em;
  height: 0.7em;
  margin: 0 0.5em;
}

footer .out-links {
  display: flex;
  padding: 0;
  justify-content: center;
  margin: 1.5rem 0;
}

footer .out-links li {
  height: 1.25rem;
  width: 2.25rem;
  padding: 0 0 0 1rem;
}

.overlay-open .out-links li {
  z-index: -1;
}

footer .out-links li:nth-child(odd) {
  box-shadow: -1px 0px 0px var(--off-white) inset;
  padding-right: 1rem;
  padding-left: 0;
}

footer .out-links li:nth-child(even) {
  padding-left: 1rem;
}

footer .out-links a {
  color: var(--text-muted);
  transition: var(--standard-transition);
}

footer .out-links a:hover,
footer .out-links a:focus {
  color: var(--black);
}

footer > p {
  text-align: center;
}

/* #endregion */